<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <link href="/css/css.css" rel="stylesheet" />
        <script th:src="@{/js/main.js}"></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <input class="header-button" type="button" value="Home" onclick="location.href='/home'"/>
                <input sec:authorize="hasAuthority('ADMIN')" class="header-button" type="button" value="Users" onclick="location.href='/users'"/>
                <input sec:authorize="hasAuthority('ADMIN')" class="header-button" type="button" value="Rooms" onclick="location.href='/rooms'"/>
                <input sec:authorize="hasAuthority('ADMIN')" class="header-button" type="button" value="Chat management" onclick="location.href='/chat/manage'"/>
                <input sec:authorize="isAuthenticated()" class="header-button logout" type="button" value="logout" onclick="location.href='/logout'"/>
            </div>
            <div layout:fragment="content"></div>
        </div>
    </body>
</html>